doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Advanced radio frequency interventional pain treatment')
        meta(name='author', content='Dehan Louw')
        meta(name="google-site-verification" content="jx4UxsWEZjQtAJtPkbyF_R1xczPfLZfDAJ1cULruL-4")
        title Radio frequency pain treatment
        // Bootstrap core CSS
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
        // Custom styles for this template
        link(href='css/stylesheet.min.css', rel='stylesheet')
        //Favicon
        link(rel="icon", href="img/favicon.ico")
    body
        // Navigation
        include navbar.pug
        // Header
        // section.header.h-100.d-flex.align-items-center.justify-content-center
            img(src="img/logo.svg", alt="Helderberg Pain Clinic Logo")
        //Intro
        section.intro.content-section.bg-light
            .container
                h1 Ozone Clinic
                br
                a(href="img/Certificates.pdf" target="_blank") View our certification
                hr
            .container
                p
                  br
                p There are multiple indications for ozone therapy from:
                ul
                  li &nbsp;infectious diseases,
                  li
                    | aid in treatment of coronary artery disease, micro-vascular disease, and gangrene,
                  li &nbsp;chronic infections,
                  li oncology and cancers,&nbsp;
                  li chronic infirmities of ageing to
                  li detoxification.&nbsp;
                p
                  br
                p
                  | As ozone is NOT a medication but and adjuvant that helps the body to heal itself, it is by far a better way to &ldquo;treat&rdquo; diseases. Therefore, it is not to replace any medical treatment but an add on treatment that can aid the body in healing itself. In a way it is the way to go to maintain health before you need any medication
                p
                  br
                p Ozone can be delivered in multiple ways:
                ul
                  li Major Auto-hemotherapy (MAH) &ndash; oxygenation of blood transfusions
                  li Via the skin with the help of the Hocatt machine
                  li Rectal, vaginal and ear insufflation
                  li Prolotherapy &ndash; injections of ozone into joints and soft tissue
                p
                  br
                h3 Understanding Ozone therapy
                p
                  | Oxygen is the single most important nutrient for the body and your wellness. The body can survive weeks without food, days without water, but only minutes without oxygen.
                p
                  | Every cell of the body requires a continuous supply to generate energy, detoxify the body and maintain healthy cells.
                p
                  | Any reduction in the availability of oxygen to the body, whatever by poor posture and breathing, deoxygenated water and refined foods, smoking, lack of exercise, environmental pollution, or exposure to carbon monoxide, reduces the optimal performance of these essential cellular functions.
                p
                  | A lack of sufficient oxygen is a major cause of poor health, leading to conditions such as arthritis, low immunity, constant tiredness, cancer, regular colds, and flu&grave;s, hay fever, migraine, low vitality.

                p
                  | Ozone (O3) is an activated oxygen (O2) and in a brief period of time the O3 molecule will revert back to oxygen. During this short half life cycle, the O3 molecule can therefore be used for sanitation and sterilisation purposes.
                p
                  br
                h3 How does Ozone work?
                p
                  | Ozone inactivates viruses, bacteria, fungi, yeast, and protozoa by destroying the outer shell of most micro-organisms. Thereby penetrating the cell membrane and altering the DNA, whereas primitive organisms do not have this protective capability. Ozone selectively targets disease causing micro-organisms and spares healthy cells.

                p
                  | Repeated treatments of ozone therapy are usually needed because certain viruses and fungi, are more susceptible at certain stages of their development. Some micro-organisms are much more resistant than others and will require more treatment.

                ul
                  li Stimulation of oxygen metabolism
                    p
                      | Ozone causes increased metabolism inside the red blood cells, which releases more oxygen to the tissues. It further stimulates the production of enzymes, which function as cell wall protectors and scavengers of free radicals. It enhances energy production in the cells by complex biochemical reactions.
                    p
                      br
                  li Formation of Peroxides
                    p
                      | When ozone is introduced into the body, it is broken down into free radical agents called peroxides. These have beneficial effects because they are attracted to weakened or diseased cells and react with lipids (fats) in the cell membrane. The enzymes in the healthy intact cell wall prevent penetration by these peroxides. Thus, the peroxides in ozone selectively attack only those cells which contains parasites, viruses etc, or are weakened by cancer toxins.
                    p
                      br
                  li Enhancement of circulation
                    p
                      | In circulatory disease, a clumping of red blood cells hinders blood flow through the small capillaries and decreases oxygen uptake by the red blood cells due to deduced surface area. Ozone reduces, or eliminates clumping, and restores flexibility thereby increasing oxygen carrying capacity. Improved viscosity of the blood also leads to better oxygenation of the tissues.
                    p
                      | Ozone oxidises the plaque in arteries, which unclogs and frees up the circulation. A vasodilator, Prostacyclin, is also produced by ozone, which dilates the arteries.
                    p
                      br
                  li Dissolution of tumours
                    p
                      | Ozone inhibits cancer cell metabolism. In addition, ozone oxidises the outer lipid layer of cancer cells, thus destroying them
                    p
                      br
                  li Activation of the immune system
                    p
                      | Optimal administration of medical ozone causes an increase in the production of interferon and interleukins, which launch an entire cascade immunological reaction.
                    p
                      br
                  li Effect on medicines
                    p
                      | The potency of any medicine taken concurrently with ozone treatment is increased. The unpleasant side effects of toxic, but necessary medications such as Chemotherapy can be minimised by ozone therapy.
                    p
                      br
                h3 What can ozone do?
                p
                  br
                p Ozone:
                p - Inactivates viruses, bacteria, yeast, fungi, and protozoa
                p - Stimulates the immune system
                p - Improves circulation, cleaning arteries and veins
                p - Purifies blood and lymph
                p - Normalises hormone and enzyme production.
                p - Reduces inflammation
                p - Reduces pain &amp; calms the nerves
                p - Stops bleeding
                p - Prevent stroke damage
                p - Improves cardiac arrhythmias
                p - Improves brain function and memory.
                p - Oxidises toxins, allowing their excretion
                p - Chelates heavy metals
                p - Prevents and reverses degenerative diseases
                p - Prevent and treats Auto Immune diseases
                p - Increases the potency and minimises the side effects of chemotherapy
                p - Assist in treatment of cancers and post viral chronic fatigue syndromes.
                p - Increases sport performance.
                p
                  br
                h4 How is Ozone administered?
                p
                  br
                ul
                  li Major Auto-hemotherapy (MAH) &ndash; oxygenation of blood transfusions
                  li
                    | Via the skin with the help of the Hocatt machine - It is a capsule that works with steam, Carbonic Acid, Ozone, Far Infrared Therapy and Electrotherapy.
                  li Rectal, vaginal and ear insufflation
                  li Prolotherapy &ndash; injections of ozone into joints and soft tissue

                a(href="index.html")
                        i.fa.fa-angle-left.mr-3
                        span Return
        // Footer
        include footer.pug
        // Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/jquery-easing/jquery.easing.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
        script(src='js/thescript.min.js')
